body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 0px;
    border: 0px;
}
p {
    white-space: pre;
    display: inline-block;
}
#headers {
    display: flex;
    padding-left: 75vh;
    text-align: center;
    height: 5vh;
}
.subheader {
    height: 100%;
    width: 20%;
}
#image {
    display: block;
    margin: auto;
    height: 90vh;
}
